
body {
    background-color: #bdffa6;
}

.header {
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 50px;
    position: absolute;
}
#header-h {
    position: relative;
    font-size: 60px;
}

.commands {
    font-family: Arial;
    float: left;
    width: 100%;
    height: auto;
}

.config * {
    font-size: 18px;
    text-align: left;
}

#config-img {
    margin-top: 80px;
}

#main-config-title {
    margin-top: 40px;
}
